/* MAVIGATION BAR */
.navbar
{
	/* Change BG here */
	background-color:transparent;
	width: 100%;
}

/* Each container for the navbar elements */
.nav-item
{
	padding: 0.25em;
}

/* General links */
.nav-link, .navbar-brand
{
	/* Change font colour here */
	color:#17252A;
}

/* When links are hovered over */
.nav-link:hover, .navbar-brand:hover
{
	/* Change font colour here */
	color:#17252A;
}

/* When drop downs are pressed */
.nav-link:focus
{
	color:#17252A;
}

.dropdown-menu, .navbar-dropdown > .dropdown-item
{
	color:#17252A;
    background-color: transparent;
	border: transparent;
}

.dropdown-admin
{
	background-color: #5bc0de;
	border: 1px solid #2495B6;
}

.dropdown-admin > .dropdown-item:hover
{
	background-color: #2495B6;
}

.navbar-dropdown > .dropdown-item:hover, .navbar-dropdown > .dropdown-item:focus
{
	color: #838383;
}S

.nav-pills  a
{
	color: #000;
}

/*ENTIRE SITE*/

html
{
	position: relative;
	min-height: 100%;
	max-width: 100%;
}
body
{
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Lato', sans-serif;
}

p
{
	font-size: 1.25em;
}

/* INDEX PAGE */
.index-head
{
	background-color: #21560D;
	color: #fff;
	width: 100%;
	padding: 0.5vw;
	margin-bottom: 0.5vw;
}

.index-header
{
	font-size: 5em;
}

.index-block
{
	margin: 2.5vw 0;
}

.index-list-heading
{
	font-size: 1.75em;
}

.index-list-head
{
	font-size: 2em;
	margin-bottom: 1vw;
}

.index-list
{
	margin: 0.5vw 0;
}

/* STICKY FOOTER - REQUIRED */

.footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}

/* MODAL */

/* Sets space between edges of viewport */
.modal { overflow: auto !important; }

.modal-body
{
	margin: 1em;
}

/*  */
.modal-header, .modal-footer
{
	background-color: #fff;
	color: #000;
}

.modal-header > i
{
	color: #fff;
}

.modal-header > i:hover
{
	color: #838383;
}

/*INDEX PAGE*/

/*ADMIN PAGE*/
.table
{
	margin: 1.5vw;
	text-align: center;
}

.table th {
   text-align: center;
}
